* {
  margin:0;
  padding:0;
}

body {
  background:black;
}

.small {
  font-size:80%;
}

.slide {
  position:absolute;
  top:0;
  left:0;
  width:90%;
  height:90%;
  background:white;
  margin:3% 5%;
  border-radius:10px;
}

.slide h1 {
  border-bottom:1px solid black;
  padding:5px 20px;
  font-size:3rem;
}

.slide > .body {
  font-size:2.5rem;
  padding:20px;
}

.slide > .body li {
  margin-left:10%;
}

.slide > .body img {
  max-width:65%;
  max-height:80%;
  display:block;
  margin:auto;
}

.slide strong {
  font-weight:bold;
  color:red;
}

.slide pre.code {
  background-color:black;
  color:white;
  font-family:monospace;
  font-weight:normal;
  padding:1%;
}

.title {
  text-align:center;
}

.title h1 {
  font-size:4rem;
  border: none;
  margin:12vh 0;
}

.title .author {
}

.title .organization {
  font-size:2rem;
}

.title .presented-at {
  margin-top:1.5rem;
  font-size:1.5rem;
}

button.paginate {
  position:absolute;
  top:0;
  height:100%;
  width:5%;
  font-size:3rem;
  color:white;
  background:rgba(1,1,1,0);
  border:none;
}
button.prev {
  left:0;
}
button.next {
  right:0;
}
